<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
   
</head>
<body>
    <div class="container">
        <h1>Welcome to Our Restaurant</h1>
        <h2>Menu</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Available</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for dish in dishes %}
                <tr>
                    <td>{{ dish.id }}</td>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.price }}</td>
                    <td>{{ dish.available }}</td>
                    <td>{{ dish.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <p><a href="{% url 'user_login' %}">Log in</a> or <a href="{% url 'user_registration' %}">Register</a> to place an order.</p>
    </div>
    <a href="{% url 'admin_section' %}">Admin Login</a>

</body>
</html>
