<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    
</head>
<body>
    <div class="container">
        <h1>Menu</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Available</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for dish in dishes %}
                <tr>
                    <td>{{ dish.id }}</td>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.price }}</td>
                    <td>{{ dish.available }}</td>
                    <td>{{ dish.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><a href="{% url 'user_section' %}">Back to User Section</a></p>
    </div>
</body>
</html>
